/* cc form elements */
.cc_submit {
clear: both;
}
/*currentcost current reading page */
#cc_row_1 {
width: 100%;
clear: both;
}
#cc_row_2 {
width: 100%;
clear: both;
}
#cc_row_3 {
width: 100%;
clear: both;
}
#cc_row_4 {
width: 100%;
clear: both;
}
.cc_col1 {
float:left;
width: 50%;
margin-bottom: -20px;
}
.cc_col2 {
float:left;
width: 50%;
margin-bottom: -20px;
}
.cc_col1 fieldset {
height:220px;

}
.cc_col2 fieldset {
height:220px;
}
.cc_colx {
float:left;
width: 100%;
margin-bottom: -20px;
}
.cc_colx fieldset {
height:220px;
}
.cc_col1 img {
display: block;
margin-left: auto;
margin-right: auto;
}

.cc_col2 img {
display: block;
margin-left: auto;
margin-right: auto;
}


.reading_date {
width: 100%;
display: block;
text-align: center;
margin-left: auto;
margin-right: auto;
padding-top: 50px;
}
.hrule {
padding-top:10px;
padding-bottom:10px;
width: 100%;
clear: both;
}
/* Current Cost current_power_stats_block */
.costs_title {
float:left;
width: 25%;
}
.costs {
float:left;
width: 50%;
}
/* current cost bar charts */

#cc_last24 {
height:200px;
width: 800px;
overflow: hidden;
margin-left: auto;
margin-right: auto;
}
#cc_daily_avgs {
height:200px;
width: 850px;
overflow: hidden;
margin-left: auto;
margin-right: auto;
}

/* ccost sensors tables */
#cc_sensor_table {
display:block;
height:300px;
}
/* ccost profiles css */
#cc_dates {
height:200px;
margin-top: -20px;
}
#cc_profile_start_date {
float: left;
width: 50%;
}
#cc_profile_end_date {
float: right;
width: 50%;
}
#cc_profile_start_date fieldset {
height:230px;
}
#cc_profile_end_date fieldset {
height:230px;
}
#cc_profile_end_date_later {
}

#cc_profile_name_desc {
width: 100%;
}
#cc_profile_stats fieldset {
height:240px;
}
#cc_sensor_stats fieldset {
height:240px;
}
